<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    {{#if description }}
    <meta name="description" content="{{description}}" />
    <meta property="og:description" content="{{description}}" />
    {{/if}}
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{site.name}}" />
    <meta property="og:locale" content="en_US" />
    <meta name="theme-color" content="#000" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="antialiased">
    {{{ content }}}
  </body>
</html>
